@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #F7F7F7;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.consult {
  padding: 60px 0px;
}
.consult__container {
  border-radius: 20px;
  background-color: #003057;
  padding: 40px;
}
.consult__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 17px;
}
.consult__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 40px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button__text {
  border-radius: 5px;
  background-color: #887E72;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  padding: 15px;
}
.button__line {
  height: 37px;
  width: 4px;
  background-color: #887E72;
}
.button__icon {
  border-radius: 5px;
  background-color: #887E72;
  padding: 10px;
  margin-left: -2px;
}
.button__icon img {
  margin-top: 6px;
}

.brands {
  padding: 60px 0px;
}
.brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}