.contacts {
    padding: 60px 0px;

    &__container {
        display: flex;
        align-items: flex-start;
        gap: 24px;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            padding: 30px;
            background-color: #003057;
            border-radius: 20px;
        }

        @media (max-width: 528px) {
            padding: 20px;
        }
    }

    &__content {
        width: 100%;
        border-radius: 20px;
        padding: 30px;
        background-color: #003057;
        max-width: 400px;

        @media (max-width: 768px) {
            padding: 0px;
            background-color: transparent;
            max-width: none;
        }
    }

    &__input {
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 18px;
        font-weight: 500;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        width: 100%;
        margin-bottom: 36px;

        &::placeholder {
            font-weight: 500;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &__textarea {
        margin-bottom: 36px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 18px;
        font-weight: 500;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);

        &::placeholder {
            font-weight: 500;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__radios {
        margin-bottom: 36px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__radio {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__radio-circle {
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.2);
    }

    &__radio-option {
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: #fff;
    }
}

.info-contacts {
    border-radius: 20px;
    padding: 40px;
    background-color: #003057;

    @media (max-width: 768px) {
        padding: 0px;
        background-color: transparent;
        text-align: center;
    }

    &__uptext {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 26px;

        @media (max-width: 768px) {
            justify-content: center;
            margin-bottom: 10px;
        }
    }

    &__uptext-text {
        font-weight: 600;
        font-size: 24px;
        line-height: 267%;
        color: #fff;

        @media (max-width: 528px) {
            font-size: 18px;
        }
    }

    &__circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #fff;
    }

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        color: #fff;
        margin-bottom: 17px;
        max-width: 783px;

        @media (max-width: 528px) {
            font-size: 26px;
        }
    }
}

@media (max-width: 528px) {
    .contacts__button .button__text {
        display: inline-block;
        text-align: center;
    }
}