.header {
    padding: 10px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        li {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        color: #03014a;
    }

    &__arrow {
        height: 5px;
    }

    &__language {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__language-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        color: #03014a;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__insta {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__insta-text {
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        color: #887e72;
    }

    &__button {
        border: 1px solid #003057;
        border-radius: 5px;
        background-color: #003057;
        padding: 12px 20px;
    }

    &__button-link {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        color: #fff;
    }
}