.services {
    padding: 60px 0px;

    @media (max-width: 528px) {
        padding: 30px 0px;
    }

    &__uptitle {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 45px;
        justify-content: center;

        @media (max-width: 528px) {
            margin-bottom: 0px;
        }
    }

    &__uptitle-text {
        font-weight: 600;
        font-size: 24px;
        line-height: 267%;
        text-align: center;
        color: #003057;

        @media (max-width: 528px) {
            font-size: 20px;
        }
    }

    &__number {
        font-size: 16px;
        color: #887e72;
        font-weight: 600;
    }

    &__circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #003057;
    }

    &__title {
        font-weight: 600;
        font-size: 44px;
        line-height: 130%;
        text-align: center;
        color: #03014a;
        margin-bottom: 60px;

        @media (max-width: 528px) {
            font-size: 28px;
            margin-bottom: 30px;
        }
    }

    &__tabs {
        display: flex;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: #fff;
            height: 120px;
            transform: skew(0deg);
            width: 40px;
        }

        @media (max-width: 768px) {
            flex-direction: column;

            &::before {
                display: none;
            }
        }
    }

    &__tab {
        padding: 20px 100px;
        border: 1px solid #d9d9d9;
        transform: skew(20deg, 0deg) translateX(20px);

        @media (max-width: 768px) {
            transform: skew(0, 0deg) translateX(0);
            max-width: 300px;
            padding: 20px;
        }
    }

    &__tab-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #65617c;
    }
}

.blocks-service {
    padding: 80px 60px;
    background-color: #fff;

    @media (max-width: 528px) {
        padding: 20px;
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 50px;

        @media (max-width: 528px) {
            gap: 20px;
        }
    }

    &__item {
        padding: 15px 0px 15px 0px;
        border-bottom: 1px solid #d9d9d9;
        display: flex;
        gap: 20px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #03014a;
    }
}

.active-tab {
    background-color: #fff;
    border: 1px solid #fff;
}